footer
	text-align center
	.social-icons
		margin-bottom 50px
		ul.soc
			overflow visible
			margin-bottom 0
			line-height 0
	a.e-mail
	a.telephone
		display inline-block
		text-decoration none
		padding 10px 25px
		border 2px solid lighten($purple,20%)
		border-radius 2px
		color lighten($purple,20%)
		transition all .16s ease-in-out
		&:hover
			color white
			background lighten($purple,20%)
	a.e-mail
		margin-right 25px

