header
	padding 60px 10px
	+above($break)
		padding 80px 10px
	text-align center
	img
		width 320px
		max-width 100%
		border-top 6px solid $orange
		border-bottom 6px solid lighten($purple,20%)
		padding 15px 0