// colours

$darktype = lighten(#1C1F26,30%)
$lighttype = #656565
$p-color = rgb(85, 85, 85)

$orange = #FF7043
$purple = #3C304D

// typography

$headline = 'clearface', serif
$body-light = 'sofia-x-light', sans-serif
$body = 'apercu-regular', sans-serif

// breakpoints

$container-width = 960px
$break = 968px